@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open Sans';
  font-size:14px;
}
p{
  margin: 0;
}
.container,.content-container{
  width: 100%; /* Устанавливаем ширину на 100% */
  max-width: 951px;
}
.container {
  padding: 0 35px;
  max-width: 951px;
  margin:0 auto;
}
.header-inner {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom:22px;
}
.header-inner h3 {
  font-size: 26px;
}
.header-inner h1{
  font-size: 51px;
}
.header-inner h2{
  font-size: 25px;
}
.header-inner h3,
.header-inner h1,
.header-inner h2,
.header-inner h4,
.header-inner h5 {
  margin-top: 0; /* Убираем верхний отступ */
  margin-bottom: 11px; /* Уменьшаем нижний отступ */
}
.text-and-writes-inner p{
  padding-bottom:5px;
  margin:0;
  font-size: 14px;
}
.text-and-writes-inner {
  padding-bottom: 54px;
  border-bottom: 1px solid #cbcbcb;
}
.text-and-writes-inner h3 {
  font-size: 26px;
  margin: 0;
  padding-top: 24px;
}
.grey{
  padding-top: 13px;
  color: #999999;
}
.qestion{
  border: 1px solid red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
._div_qes {
  width: 25px;
  height: 20px;
  padding-top: 7px;
  cursor: pointer;
}
.buttons-inner {
  padding-bottom: 60px;
  border-bottom: 1px solid #cbcbcb;
}
button {
  border: none;
}
.btn {
  border-radius: 3px;
  margin-right: 6px;
  background: #ffe152;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding:10px 20px;
}
.btn:hover{
  cursor: pointer;
}


.div_btn_twice1,
.div_btn_twice2,
.div_btn_twice3 {
  display: flex;
}

.div_btn_twice1 {
  padding-top: 27px;
  margin-bottom: 18px;
}
.div_btn_twice2 {
  margin-bottom: 18px;
}
.div_btn_twice3 {
  display: flex;
  align-items: center;
}
.buttons h3 {
  font-size: 27px;
  padding-top: 27px;
  margin: 0;
}
.yellow_btn{
  background: #ffe152;
}
.yellow_btn:hover{
  background:rgb(255, 225, 82,0.5);
}
.red_btn{
  background: #f41939;
  color: white;
}
.red_btn:hover{
background:rgb(244 ,25 ,57,0.5);
}
.blue_btn {
  background: #2c87f9;
  color: white;
}
.blue_btn:hover{
  background:rgb(44, 135, 249,0.5) ;
}
.purple_btn {
  background: #9034f9;
  color: white;
}
.purple_btn:hover{
  background:rgb(144, 52 ,249,0.5);
}

.white_btn{
  border: 1px solid #819bce;
  color: #819bce;
  background:white;
}
.white_btn:hover{
  background:rgba(236, 235, 235, 0.5);
}
.button5 button {
  color: #819bce;
}
.big_yellow{
  background: #fbdc50;
  border-bottom: 3px solid #d3aa52;
  font-size: 18px;
  padding:25px 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.big_yellow:hover{
  box-shadow:none;
  background:rgb(255, 225, 82,0.5);
}
.field-btn:disabled{
  box-shadow: none;
  background:rgb(255, 225, 82,0.5);
  cursor:not-allowed;
}
.field-btn:not(:disabled){
  background: #fbdc50;
  cursor:pointer;
}

.links-inner {
  font-family: Sans-serif;
  padding-bottom: 45px;
  border-bottom: 1px solid #cbcbcb;
}
.links-column {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-decoration: none;
  gap:11px;
}
.links-column:hover {
  text-decoration: none;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.blue {
  color: #389bec;
}
.red {
  color: #d62339;
}
.grey {
  color: #838c95;
}
.solid {
  text-decoration: underline solid;
}
.dashed {
  text-decoration: underline dashed;
}
.dotted {
  text-decoration: underline dotted;
}
.opasity_solid_blue {
  text-decoration: underline solid rgb(56, 155, 236, 0.5);
}
.opasity_dashed_blue {
  text-decoration: underline dashed rgb(56, 155, 236, 0.5);
}
.opasity_dotted_blue {
  text-decoration: underline dotted rgb(56, 155, 236, 0.5);
}
.opasity_solid_red {
  text-decoration: underline solid rgb(214, 35, 57, 0.5);
}
.opasity_dashed_red {
  text-decoration: underline dashed rgb(214, 35, 57, 0.5);
}
.opasity_dotted_red {
  text-decoration: underline dotted rgb(214, 35, 57, 0.5);
}
.opasity_solid_grey {
  text-decoration: underline solid rgb(131, 140, 149, 0.5);
}
.opasity_dashed_grey {
  text-decoration: underline dashed rgb(131, 140, 149, 0.5);
}
.opasity_dotted_grey {
  text-decoration: underline dotted rgb(131, 140, 149, 0.5);
}
.small {
  color: #7b8085;
  font-size: 11px;
}
.links-inner h3 {
    padding-top: 18px;
    font-size: 25px;
    margin: 0;
    padding-bottom: 25px;
}
.field-inner {
  font-family: Sans-serif;
  padding-bottom: 45px;
}
.div_input {
  font-size: 15px;
  margin-bottom: 23px;
}
.input-field:hover{
  border:1px solid #999999;
}
.field-inner h3 {
    padding-top: 30px;
    font-size: 25px;
    margin: 0;
    padding-bottom: 27px;
}
.small-text {
  font-size: 10px;
  padding-left: 11px;
  padding-top: 5px;
  color:#7b8085;
}
.input-field {
  padding-left: 10px;
  width: 206px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
}

/* Скрытие стандартной иконки
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
display: none;
-webkit-appearance: none;
}
input[type="date"] {
    background: url('/picture/calendar.png') no-repeat 5px right;
    background-size: 20px;
    padding-left: 35px; /* Убедитесь, что ваша иконка не перекрывает текст */
/* height: 30px; /* Установите желаемую высоту поля ввода */
/* width: 150px; Установите желаемую ширину поля ввода */
/* border: 1px solid #ccc; */
/* border-radius: 4px; */
/* padding: 5px; */
/* box-sizing: border-box; */
/* } */
/* input[type="date"] ::-webkit-calendar-picker-indicator {
        background-image: url(/picture/calendar.png);
        background-size: 19px;
        background-repeat: no-repeat;
        /* background-position-y: bottom; */
/* background-position: 128px 7px; */
/* } */

.sd-container {
  position: relative;
  float: left;

}

.sd {
    padding: 5px 10px;
    height: 22px;
    width: 133px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    outline: none;
}
.sd:hover{
  border: 1px solid #999999;
}

.open-button {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 26px;
    height: 15px;
    background: #fff;
    pointer-events: none;
}
.open-button img{
    width:100%;
    height:100%;
}

.open-button button {
  border: none;
  background: transparent;
}
.input_text {
  font-size: 15px;
}
.bloks h3 {
    font-size: 27px;
    margin: 0;
    margin-bottom: 35px;
    padding-top: 30px;
}
.row{
  flex-direction:row;
  display:flex;
  margin-bottom: 20px;
}
.block1 {
  background-color: white;
  width: 268px;
  min-height: 218px;
  box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.1);
  display: flex;
  margin-right: 15px;
}
.square{
  width: 217px;
  min-height: 209px;
}
.block5{
  border: 5px solid #fadf52;
    min-height: 163px;
    width: 265px;
}
.header_block{
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 5px 3px 5px 23px;
  background: #fadf52;
  font-size: 13px;
}
.border_grey{
  border: 5px solid #d6e0e2;
  margin-right: 14px;
}
.background_grey{
  background: #f3f3f3;
}
.div_block_text {
  padding: 20px 17px;
  font-size: 14px;
}

.div_block_text5{
  min-height: 100px;
  width: 210px;
  display: flex;
  border-left: 5px solid #fadf52;
  border-right: 5px solid #fadf52;
  border-bottom: 5px solid #fadf52;
  padding-top: -98px;
  margin: 0;
  font-size: 15px;
  padding: 18px 26px 36px;
}
.bloks-inner {
  padding-bottom: 60px;
  border-bottom: 1px solid #cbcbcb;
}
.table-inner h3 {
  margin: 0;
  font-size: 27px;
  padding-top: 23px;
}
.table-inner{
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 60px;
}

.styled-table {
  width:562px;
  border-collapse: collapse;
  height: 200px; /* Установите высоту таблицы, например, 200 пикселей */
  overflow-y: auto; /* Добавляем скролл по вертикали, если контент больше, чем высота таблицы */
}

.styled-table th,
.styled-table td {
  text-align: left;
}

.styled-table th {
  font-weight: bold;
  padding-top: 38px;

}

.styled-table tr:last-child td {
  border-bottom: none;
}

.styled-table thead tr {
  border-bottom: 3px double #fadf52;
  font-size: 12px;
  font-weight: 600;
}
.styled-table tbody tr {
  height: 25px; /* Установите высоту строк таблицы, например, 25 пикселей */
}
.styled-table th:hover ,.styled-table td:hover{
  cursor: pointer;
}
.hover_table:hover {
  background: #fcfafa;
}


.phone{
  white-space: nowrap;
}
.form-info {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

.form-inputs {
  width: 600px;
  padding: 20px;
  background-color: #ffffff;
}


.form-input label {
  display: block;
  margin-bottom: 5px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
}

.form-input .placeholder {
  color: black;
}
.form-input{
  display: flex;
  margin-bottom: 10px;
}
.form-input label{
  margin-right: 30px;
  width:170px;
  display: flex;
  flex-direction: row-reverse;
}
.form-input input{
  width:376px;
  border-radius: 5px;
  outline: none;
}
.form-input input:hover{
  border:1px solid #999999;
}
#comment{
  width:376px;
  height: 170px;
  outline: none;
  resize: none;
}
.checkbox {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 197px;
  margin-top: 16px;
}

.checkbox label {
  position: relative;
  padding-left: 30px; /* Отступ для чекбокса */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Задайте размеры в соответствии с вашими изображениями */
  height: 20px;
  background-image: url('/picture/fon.svg'); /* Путь к вашему изображению для обычного состояния */
  background-size: cover;
}

/* При наведении на чекбокс совмещаем фон и бледную галочку */
.checkbox label:hover .checkmark {
  background-image: url('/picture/fon2.svg'), url('/picture/fon.svg'); /* Путь к вашему изображению для состояния при наведении */
  background-position: center, center; /* Позиционирование изображений */
  background-repeat: no-repeat, no-repeat; /* Отключение повторения изображений */
  background-size: contain, contain; /* Убедитесь, что оба изображения вписываются в размер чекбокса */
}

/* Состояние при нажатии */
.checkbox input:checked + .checkmark {
  background-image: url('/picture/fon1.svg'), url('/picture/fon2.svg'); /* Путь к вашему изображению для состояния при нажатии */
  background-position: center, center; /* Позиционирование изображений */
  background-repeat: no-repeat, no-repeat; /* Отключение повторения изображений */
  background-size: contain, contain; /* Убедитесь, что оба изображения вписываются в размер чекбокса */
}

.btn_and_writer{
  display:flex;
  margin-left: 200px;
  padding-top: 25px;
  padding-right: 22px;
}
.text_in_ankets{
  padding-left: 22px;
  font-size: 13px;
  color:#c0bbc1;
  white-space: nowrap;
}
.text_in_ankets span{
  text-decoration: underline solid #c0bbc1;
}
.text_in_ankets label::after {
  content: "";
}

/* Эти стили больше не нужны */
.text_in_ankets label[id$="-required"]::after {
  content: "";
}

.text_in_ankets label[id$="-required"]:last-child::after {
  content: "";
}

#ankets{
  font-size: 27px;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 30px;
}
.link-navigation{

  width: 200px;
}
.div_ankets{
  display:flex;
}
.link-navigation a{
  color: #389bec;
}
.link-navigation a:hover{
  text-decoration: none;
}
.content-container { /* Отступ слева для контента, чтобы он не перекрывал ссылки */
  padding: 20px; /* Поля для контента */
}
.wriper{
  display:flex;
  flex-direction: row;
}
.left-wriper{
  position: sticky;
  height: min-content;
  top:0;
}
.right-wriper{
  margin:0 auto;
}

#required-fields-msg {
  display: inline; /* По умолчанию элемент отображается */
}

/* Этот селектор нужен для того, чтобы убедиться, что элементы с классом "-required" корректно скрываются */
[id$="-required"] {
  display: inline; /* По умолчанию элементы отображаются */
}
/*