@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans";
}

p {
    margin: 0;
}

.container {
    padding: 0 35px;
    max-width: 951px;
    margin:0 auto;
}
.container,.content-container{
    width: 100%; /* Устанавливаем ширину на 100% */
    max-width: 951px;
}


.content-container { /* Отступ слева для контента, чтобы он не перекрывал ссылки */
    padding: 20px; /* Поля для контента */
  }
  .wriper{
    display:flex;
    flex-direction: row;
  }
  .left-wriper{
    position: sticky;
    height: min-content;
    top:0;
  }
  .right-wriper{
    margin:0 auto;
  }
  .link-navigation{
    width: 200px;
  }
  .link-navigation a{
    color: #389bec;
  }
  .link-navigation a:hover{
    text-decoration: none;
  }
  